  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #2b2a33;
    
}
.top{
    display : flex;
    margin-top :11vh ;
    margin-left: 41vw;
    /* border : 2px red solid; */
}
    .logo{
    height : 90px;
    width : 90px;
    /* border: 2px red solid; */
    border-radius: 50%;
    background-image : url(firefox-nightly-icon-1981x2048-6vtd3qjd.png);
    background-size : contain;
    background-repeat : no-repeat;
    }
    .brand{
    height : 70px;
      width : 170px;
    /* border: 2px red solid; */
      position: relative;
      top: 15px;
      left: 7px;
      font-weight : bolder;
      font-size : 40px;
      font-family: 'Open Sans', sans-serif;
      color: white;
    }
    #searchbox{
        width : 47vw;
        margin-top: 7vh;
        margin-left: 25vw;
        /* border: none; */
        display: flex;
        border-radius: 10px;
    }
    #cllo{
        /* border: 2px red solid; */
        height: 55px;
        width: 60px;
        background-image: url(Google_\ G\ _Logo.svg.webp);
        background-size: cover;
        border-radius: 50%;
        scale: 0.6;
        position: relative;
        left: 55px;
        top: 3px;
    }
    #search{
        background-color: #42414d;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width : 49vw;
        height : 60px;
        padding-left: 60px;
    /* margin-left : 100px ; */
    border: none;
    background-color: #42414d;
    color: #e4e3ec;
    border-radius : 10px;
    }
    .iconbox
    {
        height: 20vh;
        width: 70vw;
        display: flex;
        /* border: 2px red solid; */
        margin-left: 16vw;
        margin-top: 3vh;
        /* padding: 15px; */
        justify-content: space-evenly;
        align-items: center;
        
    }
    .iconbox>a{
        text-decoration: none;
    }
    #icon1{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon2{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon3{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon4{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon5{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon6{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon7{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    #icon8{
        height: 18vh;
        width: 9vw;
        /* border: 2px red solid; */
        background-image: url(Screenshot\ 2023-06-29\ 163518-modified.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        border-radius: 20px;
    }
    .icon:hover{
        background-color: rgba(0, 0, 0, 0.336);
        cursor: pointer;
    }
    .txt{
        margin-top: 125px;
        margin-left: 38px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: small;
    }
    #tar{
        font-size: small;
        color: #00ddff;
        font-family: 'Open Sans', sans-serif;
    }
    .reco{
         /* border: 2px red solid; */
        height: 5vh;
        width: 15vw;
        margin-left: 19vw;
        margin-top: 6vh;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: white;
    }
    .cardbox{
        /* border: 2px red solid; */
        height: 170vh;
        width: 64vw;
        margin-left: 19vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        /* border: 2px red solid; */
height: 38vh;
width: 19vw;
border-radius: 10px;
background-color: rgba(176, 168, 168, 0.425);
}
.pic{
    /* border: 2px red solid; */
    height: 17vh;
    
        background-image: url(Screenshot\ 2023-06-29\ 174549.png);
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .con{
        margin: 0px;
        padding-left: 15px;
        padding-right: 10px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: small;
        
    }
    .thead{
        margin: 0px;
        font-size: medium;
        font-weight: bold;
        /* border: 2px solid red; */
    }
    .l{
        margin: 5px;
        /* margin-top: 3px; */
        margin-left: 15px;
        color: #bcbcc3;
        font-family: 'Open Sans', sans-serif;
        font-size: small;
    }
.card:hover>.con>.thead{
    color: #00ddff;

}
.card:hover>.pic{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 70px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 70px 50px -50px inset;

}
.cardbox>a{
    text-decoration: none;
}
@media (min-width: 513px) and (max-width: 970px){
    .top {
        display: flex;
        margin-top: 11vh;
        margin-left: 35vw;
        /* border: 2px red solid; */
      }
    #searchbox {
        width: 72vw;
        margin-top: 7vh;
        margin-left: 11vw;
        border: none;
        display: flex;
        border-radius: 10px;
      }
      #search {
        background-color: #42414d;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 61vw;
    }
    #cllo {
        /* border: 2px red solid; */
        height: 58px;
        width: 57px;
        background-image: url(Google_\ G\ _Logo.svg.webp);
        background-size: cover;
        border-radius: 50%;
        scale: 0.6;
        position: relative;
        left: 55px;
        top: 3px;
      }
      .iconbox{
        flex-wrap: wrap;
      }
      #icon1{
        width: 15vw;
        height: 14vh;
      }
      #icon2{
        width: 15vw;
        height: 14vh;
      }
      #icon3{
        width: 15vw;
        height: 14vh;
      }
      #icon4{
        width: 15vw;
        height: 14vh;
      }
      #icon5{
        width: 15vw;
        height: 14vh;
      }
      #icon6{
        width: 15vw;
        height: 14vh;
      }
      #icon7{
        width: 15vw;
        height: 14vh;
      }
      #icon8{
        width: 15vw;
        height: 14vh;
      }
      .txt{
        position: relative;
        top: -5px;
        left: -3px;
      }
      .reco {
        /* border: 2px red solid; */
        height: 5vh;
        width: 27vw;
        margin-left: 19vw;
        margin-top: 13vh;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: white;
      }
      .cardbox {
        /* border: 2px red solid; */
        height: 170vh;
        width: 64vw;
        margin-left: 19vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 29px;
      }
      .card {
        /* border: 2px red solid; */
        height: 31vh;
        width: 28vw;
        border-radius: 10px;
        background-color: rgba(176, 168, 168, 0.425);
      }
      .thead {
        margin: 0px;
        font-size: small;
        font-weight: bold;
        /* border: 2px solid red; */
      }
    }

@media (min-width : 300px) and (max-width: 513px){
  .top {
    display: flex;
    margin-top: 11vh;
    margin-left: 18vw;
    /* border: 2px red solid; */
    scale: 0.8;
  }
  #search {
    background-color: #42414d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70vw;
    height: 46px;
    padding-left: 42px;
    /* margin-left: 100px; */
    border: none;
    background-color: #42414d;
    color: #e4e3ec;
    border-radius: 10px;
    /* font-size: small; */
  }
      #searchbox {
        width: 100vw;
        margin-top: 7vh;
        margin-left: -0vw;
        border: none;
        display: flex;
        border-radius: 10px;
      }
      #cllo {
        /* border: 2px red solid; */
        height: 67px;
        width: 65px;
        background-image: url(Google_\ G\ _Logo.svg.webp);
        background-size: cover;
        border-radius: 50%;
        scale: 0.4;
        position: relative;
        left: 55px;
        top: -10px;
      }
      .iconbox {
        height: 40vh;
        width: 70vw;
        display: flex;
        /* border: 2px red solid; */
        margin-left: 16vw;
        margin-top: -1vh;
        padding: 0px;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
      }
      #icon1 {
        height: 17vh;
        width: 25vw;
       
      }
      #icon2 {
        height: 17vh;
        width: 25vw;
       
      }     
      #icon3 {
        height: 17vh;
        width: 25vw;
       
      }
      #icon4 {
        height: 17vh;
        width: 25vw;
       
      }  #icon5 {
        height: 17vh;
        width: 25vw;
       
      }
      #icon6 {
        height: 17vh;
        width: 25vw;
       
      }  #icon7 {
        height: 17vh;
        width: 25vw;
       
      }
      #icon8 {
        height: 17vh;
        width: 25vw;
       
      }  
      .reco {
        /* border: 2px red solid; */
        height: 5vh;
        width: 51vw;
        margin-left: 4vw;
        margin-top: 35vh;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: white;
      }
      .txt{
        position: relative;
        top: -10px;
        left: -10px;
      }
      .card {
        /* border: 2px red solid; */
        height: 38vh;
        width: 58vw;
        border-radius: 10px;
        background-color: rgba(176, 168, 168, 0.425);
      }
      .con {
        font-size: smaller;
      }
      .thead {
        margin: 0px;
        font-size: smaller;
        font-weight: 1px;
        /* border: 2px solid red; */
      }
      .l {
        margin: -1px;
        margin-top: 0px;
        margin-left: 15px;
        font-size: smaller;
      }
      .cardbox {
        /* border: 2px red solid; */
        height: 170vh;
        width: 64vw;
        margin-left: 19vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px;
      }
}
/* @media (min-width: 390px){
  .txt{
    position: relative;
    top: -2vh;
    left: -3.5vw;
  } */
